@font-face {
	font-family: 'Function Pro';
	font-weight: 300;
	font-style: normal;
	src: url('../font/function-pro/FunctionPro-Light.woff2') format('woff2');
}

@font-face {
	font-family: 'Function Pro';
	font-weight: 400;
	font-style: normal;
	src: url('../font/function-pro/FunctionPro-Book.woff2') format('woff2');
}

@font-face {
	font-family: 'Function Pro';
	font-weight: 500;
	font-style: normal;
	src: url('../font/function-pro/FunctionPro-Medium.woff2') format('woff2');
}

@font-face {
	font-family: 'Function Pro';
	font-weight: 600;
	font-style: normal;
	src: url('../font/function-pro/FunctionPro-Demi.woff2') format('woff2');
}

@font-face {
	font-family: 'Function Pro';
	font-weight: 700;
	font-style: normal;
	src: url('../font/function-pro/FunctionPro-Bold.woff2') format('woff2');
}