@import "fonts";
@import "functions";
@import "mixins";
@import "variables";
@import "reset";
@import "base";
@import "grid";
@import "extends";

@import "site/header";
@import "site/side-panel";
@import "site/navigation-panel";
@import "site/footer";

// Modules
@import "modules/link-hover";
@import "modules/modal-backdrop";
@import "modules/quick-view";
@import "modules/pagination";
@import "modules/switch-toggle";

// Shortcodes
@import "shortcodes/hero-slider";
@import "shortcodes/product-tabs";

// Woocommerce
@import "woocommerce/shop";
@import "woocommerce/single";
@import "woocommerce/checkout";
@import "woocommerce/cart";
@import "woocommerce/preview";


body {
	background: $background;
	
	//padding-left: 100px;
	
	&.freeze #page {
		filter: blur(5px);
	}
}

#content, #colophon {
	padding-left: 90px;
}

p:empty {
	margin-bottom: 100px;
}

.color-primary {
	color: $color_primary;
}

.button-primary {
	width: 180px;
	padding: 18px 0;
	background: $color_primary;
	color: white;
	border: 0;
	text-align: center;
	
	&:hover {
		color: white;
	}
}

