.link-effect {
	a {
		position: relative;
		
		&:hover::after {
			width: 100%;
		}
		
		&::after {
			content: '';
			display: block;
			width: 0;
			height: 0;
			border-bottom: 1px solid #000;
			transition: width .3s;
			position: absolute;
			bottom: -5px;
			left: 0;
		}
	}
}