#quickview-modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	cursor: pointer;
	z-index: 1050;
	
	&::before, &::after {
		content: '';
		display: block;
		width: 100%;
		height: 60px;
	}
	
	&.modal-active {
		display: block;
	}
	
	.modal-content {
		width: 90%;
		max-width: 1040px;
		margin: 0 auto;
		cursor: auto;
		
		.product-container {
			background: white;
			min-height: 400px;
		}
	}
}